   <!-- create sky shader-->
    <script type="x-shader/x-vertex" id="vertexShader">
            varying vec3 worldPosition;
            void main() {
                vec4 mPosition = modelMatrix * vec4( position, 1.0 );
                gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
                worldPosition = mPosition.xyz;
            }
    </script>

    <script type="x-shader/x-fragment" id="fragmentShader">
            uniform vec3 topColor;
            uniform vec3 bottomColor;
            uniform float offset;
            uniform float exponent;
            varying vec3 worldPosition;
            void main() {
                float h = normalize( worldPosition + offset ).y;
                gl_FragColor = vec4( mix( bottomColor, topColor, max( pow( h, exponent ), 0.0 ) ), 1.0 );
            }
    </script>
        <ion-floating-menu>
    <ion-floating-item text="building" icon="ion-camera" click="loadRoom()"></ion-floating-item>
    <ion-floating-item text="grass" icon="ion-person" click="addGround()"></ion-floating-item>
    <ion-floating-item text="car" icon="ion-person" click="loadCar()"></ion-floating-item>

</ion-floating-menu>
<ion-content >
    <div id="backButton">
        <button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="goBack()">Back</button>
    </div>
        <div id="progress">
            <span id="message">Loading ...</span>
            <center>
                <div id="progressbar" class="shadow"><div id="bar" class="shadow"></div></div>
            </center>
        </div>

    <div id="three"></div>
</ion-content>
