<ion-view view-title="About us">
  <ion-content class="about_us padding">
    <p>
        Captivating and majestic from every perspective, Shadow Play is an extraordinary statement of sculptural intent and beauty, with a seductive façade that reflects the sentiment and energy of a city bursting with life and ambition.</p>

<p>Residents of Shadow Play's superbly appointed one, two and three bedroom apartments will be enveloped by exquisite materials and finishes including stone, brass and beautifully crafted timbers. </p>

<p>Discrete yet innovative technology will be woven seamlessly into the fabric of the tower providing world class digital connectivity and concierge facilities, complimented by unprecedented private dining, in house lounge and residents gym, complete with bubble pool, spa and steam room. 
    </p>
  </ion-content>
</ion-view  >