<ion-view view-title="Dream estates">

  <ion-content class="padding comment_page">
    <ion-list class="comments_item">
        <ion-item>
         <div class="row">
          <div class="col col-25">
            <img src="img/man.png"/>
          </div>
          <div class="col">
           <h3>Ghonaimovic<span>Reply</span></h3>
           <p class="date">June 25, 2015</p>
           <p>Vestibulum volutpat justo tortor, et dignissim tellus lobortis in.
            Proin quis convallis massa. Mauris a sodales mi. 
           </p>
          </div>
         </div>
        </ion-item>
         <ion-item>
         <div class="row">
          <div class="col col-25">
            <img src="img/man.png"/>
          </div>
          <div class="col">
           <h3>Mash<span>Reply</span></h3>
           <p class="date">June 25, 2015</p>
           <p>Vestibulum volutpat justo tortor, et dignissim tellus lobortis in.
           </p>
          </div>
         </div>
        </ion-item>
    </ion-list>
    <form class="comm_form">
     <h3>Leave a Reply</h3>
    <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Name">
        </label>
        <label class="item item-input">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input">
          <textarea placeholder="Your Comments" rows="5"></textarea>
        </label>
    <a href="#/login" class="button button-block button-positive comm_btn">
    Post Comment
    </a>
    </div>

    </form>
  </ion-content>
</ion-view>
