<ion-view view-title="Contact Us">
  <ion-content class="padding">
  
    <form class="login_form contact_us">
        <div id="list_back" class="list list-inset">
            <span>Username</span>
            <label class="item item-input">
                <i class="icon ion-person placeholder-icon animated tada"></i>
                <input type="text" placeholder="Username">
            </label>
            <span>Email</span>
            <label class="item item-input">
                <i class="icon ion-at placeholder-icon animated tada"></i>
                <input type="email" placeholder="Email">
            </label>
             <span>Your Message</span>
            <label class="item item-input your_msg">
                <i class="icon ion-edit placeholder-icon animated tada"></i>
                <textarea rows="5" placeholder="Your Message Here"></textarea>
            </label>
        </div>
        <a href="#/app/dashboard" class="button button-block button-positive">
         Send
        </a>  
    </form>
  </ion-content>
</ion-view>

