  <ion-content class="padding register_page">
   <div class="logo_div">
     <h3 class="animated bounceInDown">Register</h3>
    </div>
    <form class="login_form">
        <div id="list_back" class="list list-inset">
          <span >First Name</span>
            <label class="item item-input">
                <i class="icon ion-person placeholder-icon animated tada"></i>
                <input type="text" placeholder="First Name Here">
            </label>
              <span>Last Name</span>
            <label class="item item-input">
                <i class="icon ion-person placeholder-icon animated tada"></i>
                <input type="text" placeholder="Last Name Here">
            </label>
              <span>Username</span>
            <label class="item item-input">
                <i class="icon ion-person placeholder-icon animated tada"></i>
                <input type="text" placeholder="Username">
            </label>
            <span>Password</span>
            <label class="item item-input">
                <i class="icon ion-locked placeholder-icon animated tada"></i>
                <input type="password" placeholder="Password">
            </label>
             <span>Retype Password</span>
            <label class="item item-input">
                <i class="icon ion-locked placeholder-icon animated tada"></i>
                <input type="Password" placeholder="Retype Password">
            </label>
            <span>Email</span>
            <label class="item item-input">
                <i class="icon ion-at placeholder-icon animated tada"></i>
                <input type="email" placeholder="Email">
            </label>
             <span>Mobile</span>
            <label class="item item-input">
                <i class="icon ion-iphone placeholder-icon animated tada"></i>
                <input type="text" placeholder="Mobile Number">
            </label>
        </div>
        <a href="#/app/dashboard" class="button button-block button-positive">
         Register
        </a>  
        <a href="#/login" class="button button-block button-positive back_btn">
         Back
        </a>  
    </form>
  </ion-content>

