<ion-view view-title="Search">
  <ion-content class="padding">
    <div class="list sel_ser">
    <label class="item item-input item-select">
        <select>
            <option>For Rent</option>
            <option>Green</option>
            <option>Red</option>
        </select>
    </label>
    <label class="item item-input item-select">
        <select>
            <option>Location</option>
            <option>Green</option>
            <option>Red</option>
        </select>
    </label>
    <label class="item item-input item-select">
        <select>
            <option>Property type</option>
            <option>Green</option>
            <option>Red</option>
        </select>
    </label>
    </div>
     <form class="comm_form">
    <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Price From">
        </label>
         <label class="item item-input">
          <input type="text" placeholder="Price To">
        </label>
    </div>
    </form>
  </ion-content>
    <ion-footer-bar align-title="left" class="foot">
        <a href="#/app/search" class="button button-block button-positive">
        Filtter
        </a>
    </ion-footer-bar>
</ion-view>
